html{
    background-color: #f1f5f5;
}
body{
    max-width: 1200px;
    min-height:100vh;
    margin: 0 auto;
    background: #ffffff url(https://avatanplus.com/files/resources/original/5839882bf0092158a0bbebcf.png) 50% 91% no-repeat;
    background-size: 239px 158px;
    box-shadow: 0 0 10px #ccc;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

header{
    width: 100%;
    height: 60px;
    background: black;
}
header p {
    margin: 0;
    padding: 16px;
    text-align: center;
    color: white;
    font-size: 23px;
}

.main{
    display: flex;
    position: relative;
    top: 203px;
    margin: 0 23px;
}

.table
{
    width: 441px;
    height: 248px;
    box-shadow: 0 0 10px #ccc;
    transition: all 0.2s cubic-bezier(0.4, 0, 1, 1) 0s;
    border-radius: 5px;
}
.table:hover
{
    box-shadow: 0 0 30px #ccc;
    transform: translateY(-10px);
}

table{
    width: 250px;
    height: 100px;
    text-align: center;
    margin: auto;
}

h2{
    color: #7c0404;
    text-align: center;
}

.description{
    margin: 0px 15px 0px 15px;
    width: 441px;
    height: 248px;
    box-shadow: 0 0 10px #ccc;
    transition: all 0.2s cubic-bezier(0.4, 0, 1, 1) 0s;
    border-radius: 5px;
}
.description:hover{
    box-shadow: 0 0 30px #ccc;
    transform: translateY(-10px);

}

.hobbies{
    width: 441px;
    height: 248px;
    box-shadow: 0 0 10px #ccc;
    transition: all 0.2s cubic-bezier(0.4, 0, 1, 1) 0s;
    border-radius: 5px;
}

.hobbies:hover{
    box-shadow: 0 0 30px #ccc;
    transform: translateY(-10px);
}

ol{
    left: 108px;
    top: 37px;
    position: relative;
}

p{
    font-variant:small-caps;
    font-size: larger;
    padding: 10px;
}

footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    top: 542px;
    margin: 0 250px;
}

img{
    transition: 0.5s;
}

img:hover {
    transform: rotate(360deg);
}
